[__config__]
oldver = "oldver.json"
newver = "newver.json"

[linux-lts]
source = "archpkg"
archpkg = "linux-lts"

[chromium]
source = "archpkg"
archpkg = "chromium"
strip_release = true

[vivaldi]
source = "archpkg"
archpkg = "vivaldi"
strip_release = true

[firefox]
source = "archpkg"
archpkg = "firefox"
strip_release = true

[zen-browser-bin]
source = "aur"
archpkg = "zen-browser-bin"
strip_release = true

[telegram-desktop]
source = "archpkg"
archpkg = "telegram-desktop"
strip_release = true

[neovim]
source = "archpkg"
archpkg = "neovim"
strip_release = true

[wake]
source = "github"
github = "Ackee-Blockchain/wake"
use_latest_release = true

[prysm]
source = "github"
github = "prysmaticlabs/prysm"
use_latest_release = true

[nethermind]
source = "github"
github = "NethermindEth/nethermind"
use_latest_release = true
