[Desktop Entry]

Type=Application
Icon=picom
Name=Grayscale browsers
Exec=bash -c "pkill picom ; sleep 1 ; picom -b --window-shader-fg-rule \"\$HOME/.config/picom/shaders/grayscale.glsl:class_g ?= 'chromium' || class_g ?= 'firefox'\""
